/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
}

/* wrapper section */
#login-form {
    position: relative;
    margin: auto;

}

.logo img {
    position: absolute;
    top: 35px;
    left: 50px;
    height: 60px;
    width: 95px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.log_img {
    padding: 50px;
}

.log_img img {
    max-width: 400px;
    max-height: 600px;
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
    background: white;
}

/* Container for the login form */
.container {
    width: 500px;
    max-height: 500px;
    /* margin: 50px auto;  */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/*invalid credential*/
.message {
    margin-top: 15px;
    padding: 10px;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

/* Form title */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Form labels */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}

/* Form input fields */
input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid red;
    border-radius: 10px;
}

/* Form submit button */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ff2d2d;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Form submit button on hover */
.btn:hover {
    background-color: #f00;
}

.home_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home_btn button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 0px;
}

.home_btn button a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.home_btn button:hover {

    background-color: #f00;
    cursor: pointer;
}


/* Form footer text */
p {
    text-align: center;
}

/* Form footer link */
a {
    color: #007bff;
    text-decoration: none;
}



/* Form footer link on hover */
a:hover {
    text-decoration: underline;
}

/* Footer container */
.footer-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

/* Footer bottom text */
.footer-bottom {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

#hideclose,
#Chideclose {
    display: none;
}
.toggle-password {
    position: relative;
}

.toggle-password i {
    position: absolute;
    right: 10px;
    top: 29px;
}