@import url(index.css);
/* login.css */

/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

/* Container for the login form */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Form title */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Form labels */
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Form input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Form submit button */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ff2d2d;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Form submit button on hover */
.btn:hover {
    background-color: #f00;
}

/* Form footer text */
p {
    text-align: center;
}

/* Form footer link */
a {
    color: #007bff;
    text-decoration: none;
}

/* Form footer link on hover */
a:hover {
    text-decoration: underline;
}

/* Footer container */
.footer-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

/* Footer bottom text */
.footer-bottom {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}