   /* Reset default form styles */
   @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

   body {
       font-family: 'Comfortaa', sans-serif;
       /* additional styles for body */
   }

   * {
       box-sizing: border-box;
   }

   body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
   }

   /* Container for form */
   .container {
       max-width: 400px;
       margin: 0 auto;
       padding: 20px;
   }

   /* Form styles */
   h1 {
       text-align: center;
       margin-bottom: 20px;
       color: red;
   }

   form {
       background-color: #f0f0f0;
       border-radius: 5px;
       padding: 20px;
   }

   label,
   input,
   textarea {
       display: block;
       margin-bottom: 10px;
       width: 100%;
   }
   #my-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Remove default appearance for webkit browsers */
    background: url("down-arrow.svg") no-repeat right center; /* Add custom arrow */
    background-size: 20px; /* Set arrow size */
    cursor: pointer;
  }
  
  #my-dropdown option {
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
   input[type="submit"] {
       background-color: #ff2d2d;
       color: #fff;
       padding: 10px;
       border: none;
       cursor: pointer;
   }

   input[type="submit"]:hover {
       background-color: #f00;
   }